body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

:root {
    --color-default: #607D8B;
}

.error {
    padding: 20px;
    color: #c62828;
}

input {
    appearance: none;
    width: 100%;
    height: 10vh;
    padding: 0 20px;
    border-radius: 50px;
    font-size: 18px;
    border: 2px solid #607D8B;
}

input:focus, button:focus {
    border-color: #125fcc !important;
    outline: none;
}

.Welcome {
    width: 100vw;
    height: 100vh;
}

.Welcome form {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Welcome .name input {
    width: calc(100% - 62px);
    border-radius: 50px 0 0 50px;
}

.Welcome .name button {
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
    appearance: none;
    height: 10vh;
    background: #ECEFF1;
    border: 2px solid var(--color-default);
    border-radius: 0 50px 50px 0;
}

.Welcome .name button svg {
    fill: var(--color-default);
    width: 30px;
    vertical-align: middle;
}

.Welcome .name button:focus {
    background: #e0eaf8;
}

.Welcome .name button:focus svg {
    fill: #125fcc;
}

.Welcome .room {
    margin-top: 30px;
    padding: 0 20px;
    border-radius: 10px;
    border: 2px solid var(--color-default);
}

.Welcome .room legend {
    color: var(--color-default);
}

.Welcome .room input {
    display: inline-block;
    height: 5vh;
    width: 100px;
}

.Form input {
    border: none;
    position: fixed;
    bottom: 20px;
    height: 45px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.Messages {
    width: 100%;
    background: #90CAF9;

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding-bottom: calc(45px + 20px + 20px);
}

.Messages > div {
    scroll-behavior: smooth;
    height: 100%;
    overflow: auto;
    padding: 25px 8% 0;
}

.GitHub {
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: black;
    text-decoration: none;
    fill: black;
    transition: .2s color, .2s fill;
}

.GitHub svg {
    vertical-align: middle;
    margin-left: 5px;
    margin-top: -4px;
    width: 18px;
}

.GitHub:hover {
    color: #607D8B;
    fill: #607D8B;
}